_color_white = #ffffff
_color_white_off = #fcfcfc // 99% gray for reduced contrast
_color_white_off_dark = #f7f7f7 // 97% gray
_color_white_off_blue = #e9edf2 // background white
_color_gray_95 = #f2f2f2 // 95% gray
_color_gray_90 = #e5e5e5 // 90% gray
_color_gray_85 = #d9d9d9 // 85% gray
_color_gray_80 = #cccccc // 80% gray
_color_gray_75 = #bfbfbf // 75% gray
_color_gray_70 = #b3b3b3 // 70% gray
_color_gray_60 = #999999 // 60% gray
_color_gray_50 = #808080 // 50% gray
_color_gray_40 = #666666 // 40% gray
_color_gray_30 = #4d4d4d // 30% gray, computer, give me more of that 4d3d3d
_color_gray_20 = #333333 // 20% gray 
_color_gray_10 = #1a1a1a // 10% gray
_color_black = #000000
_color_blue_medium = #32b3e6
_color_maroon = #aa3333
_color_red = #f07160
_color_teal = #00c9a0
_color_lime = #7fd243
_color_orange = #ff9500
_color_yellow = #ffce00
_color_green_light = #bcdcb5
_color_pink = #f7d2d2
_color_fuschia = #df01d7

_color_buttons_background = rgb(139, 187, 209)
_color_buttons_background = rgb(93, 138, 160)
_color_buttons_background_hover = rgb(8, 82, 109)
_color_buttons_background_focus = _color_gray_30

_size_font_size = 16px
_size_baseline_height = 22px
_size_navigation_height = 60px
_size_navigation_width = 1020px // heuristic width to accomodate all icons
_size_content_width = 960px
_size_buttons_height = 1.6em